<% @page_title = "Home" -%>

<h1>Your events</h1>

<% if @myParties.empty? %>
	<p> You didn't suscribe to any event !</p>
<% else %>
	<% @myParties.each do |party| %>
		<a href="/parties/<%= party.id %>"><%= party.name %></a><br/>
		<%= party.description %><br/>
		<hr>
	<% end %>
<% end %>

<h1>All events</h1>

<% @parties.each do |party| %>
	<a href="/parties/<%= party.id %>"><%= party.name %></a><br/>
	<%= party.description %><br/>
	<hr>
<% end %>
