<h1>Mes soirées</h1>

<% if @myParties.empty? %>
	<p> Vous n'êtes inscrit à aucun événement !</p>
<% else %>
	<% @myParties.each do |party| %>
		<a href="/parties/<%= party.id %>"><%= party.name %></a><br/>
		<%= party.description %><br/>
		<hr>
	<% end %>
<% end %>

<h1>Toutes les soirées</h1>

<% @parties.each do |party| %>
	<a href="/parties/<%= party.id %>"><%= party.name %></a><br/>
	<%= party.description %><br/>
	<hr>
<% end %>
