<div class="row">
	<div class="jumbotron col-md-12">

		<h1>Welcome <span style="color:#337ab7"><%= current_user.login %> !</span></h1>

		<!-- Events crées par l'utilisateur actif -->
		<div class="container">
			<h2>My created events</h2>
			<br/>
			<% if @created_parties.empty? %>
				<p> You didn't create any event yet !</p>
			<% else %>
				<% @created_parties.each_with_index do |c_party, index| %>
					<div class="col-lg-6">
						<h4><a class="alert alert-success" href="/parties/<%= c_party.id %>"><%= c_party.name %></a></h4><br/>
						Date : <%= c_party.date %> at <%= c_party.begin_hour %>h<br/>
						At : <%= c_party.adress %><br/>
						Description : <i><%= c_party.description %></i><br/>
						Number of subscribers : <%= @subscribers_by_party[index] %>
						<hr>
					</div>
				<% end %>
			<% end %>
		</div>
		<hr>
		<!-- Events auquel l'utilisateur s'est inscrit -->
		<div class="container">
			<h2>My subscribed events</h2>
			<br/>
			<!-- L'utilisateur n'a créé aucune soirée -->
			<% if @subscribed_parties.empty? %>
				<p> You didn't subscribe to any event ! See <a href="/parties/all">all the parties</a> !</p>
			<% else %>
			<!-- L'utilisateur a créé des soirées, on les affiche : -->
				<% @subscribed_parties.each_with_index do |s_party, index| %>
					<div class="col-lg-6">
						<h4>
							<a class="alert alert-success" href="/parties/<%= s_party.id %>"><%= s_party.name %></a>
							<!-- Affichage du réateur de la soirée -->
							hosted by
							<!-- Si le créateur de la soirée a le même id que le user connecté -->
							<% if s_party.user_id == @user_id %>
								 you<br/>
							<!-- sinon -->
							<% else %>
								<a class="alert alert-info" href="users/<%= s_party.user_id %>"><%= User.find(s_party.user_id).login %></a><br/>
							<% end %>
						</h4>
						<br/>
						Date : <%= s_party.date %> at <%= s_party.begin_hour %>h<br/>
						At : <%= s_party.adress %><br/>
						Description : <i><%= s_party.description %></i><br/>
						Number of subscribers : <%= @subscribers_by_party[index] %>
						<hr>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>

