<div class="row">
	<div class="jumbotron col-md-12">
		<h1>Home</h1>
		<br/>
		<%= link_to "Create a new party", new_party_path, class: "btn btn-success"  %>
		<a href="/parties/all" class="btn btn-info" >All the parties</a>
		<br/>
		<hr>

		<!-- Events crées par l'utilisateur actif -->
		<div class="container">
			<h2>My created events</h2>
			<br/>
			<% if @created_parties.empty? %>
				<p> You didn't create any event yet !</p>
			<% else %>
				<% @created_parties.each do |c_party| %>
					<div class="col-lg-4">
						<a href="/parties/<%= c_party.id %>"><%= c_party.name %></a><br/>
						Date : <%= c_party.date %><br/>
						At : <%= c_party.adress %><br/>
						<i><%= c_party.description %></i>
					</div>
				<% end %>
			<% end %>
		</div>

		<!-- Events auquel l'utilisateur s'est inscrit -->
		<div class="container">
			<h2>My subscribed events</h2>
			<br/>
			<% if @suscribed_parties.empty? %>
				<p> You didn't suscribe to any event ! See <a href="/parties/all">all the parties</a> !</p>
			<% else %>
				<% @suscribed_parties.each do |s_party| %>
					<div class="col-lg-4">
						<a href="/parties/<%= s_party.id %>"><%= s_party.name %></a><br/>
						Date : <%= s_party.date %><br/>
						At : <%= s_party.adress %><br/>
						<i><%= s_party.description %></i><br/>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>

