<div class="row">
	<div class="jumbotron col-md-12">
		<!-- Affichage des infos de l'event -->
		<h2><%= @party.name %> - Hosted by
			<% if @user_is_creator %>
				<a href="/users/<%= @user_id %>">you</a>
			<% else %>
				<a class="alert alert-info" href="/users/<%= @creator.id %>" class="alert alert-info"><%= @creator.login %></a>
			<% end %>
		</h2>
		Begin the : <%= @party.date %> at <%= @party.begin_hour %>h<br/>
		Where : <%= @party.adress %><br/>
		Price : <%= @party.price %> €<br/>
		Artist : <%= @party.artist %><br/>
		<% if !@party.description.blank? %>
		Description : <i><%= @party.description %></i><br/>
		<% end %>
		<hr>
		<!-- Cas 1 : l'utilisateur connecté est pas le créateur de la soirée
		Il peut supprimer la soirée  -->
		<% if @user_is_creator %>
			<%= link_to "Edit", {:controller=>"parties", :action=>"edit", :id=>@party.id}, :method => :get, class: "btn btn-info" %>
			<%= link_to "Cancel my party", @party, :method => :delete, class: "btn btn-danger", data: { confirm: "Do you really want to delete '#{@party.name}' event ?" } %>
		<!-- Cas 2 : l'utilisateur connecté n'est pas le créateur de la soirée
		Il peut s'inscrire ou se désinscrire la soirée  -->
		<% else %>
			<!-- Utilisateur non inscrit -->
			<% if @inscription.blank? %>
				<%= form_for :partyuser, url: {action: "subscribe"} do |f| %>
					<%= f.hidden_field :user_id, :value => @user_id %>
					<%= f.hidden_field :party_id, :value => params[:id] %>
					<%= f.submit "Subscribe",  class: "btn btn-success" %>
				<% end %>
			<!-- Utilisateur inscrit -->
			<% else %>
 				<%= form_for :unsubscribe, url: {action: "unsubscribe"} do |f| %>
					<%= f.hidden_field :user_id, :value => @user_id %>
					<%= f.hidden_field :party_id, :value => params[:id] %>
					<%= f.submit "Unsubscribe",  class: "btn btn-danger" %>
				<% end %>
			<% end %>
		<% end %>

		<hr/>

		<!-- Liste des utilisateurs inscrits à cet event -->
		<h3>Subscribers :</h3>
		<br/>
		<% @subscribers.each do |s| %>
			<a class="alert alert-info" href="/users/<%= s.id %>"><%= s.login %></a>
		<% end %>
</div>
