<h1><%= @party.name %></h1>
<br/>

<p>Description :<br/><%= @party.description %></p>

<hr/>

<h2>Suscribers :</h2>

<% if @suscribers.blank? %>
	No suscribers yet ! 
<% else %>
	<% @suscribers.each do |s| %>
		<a href="/users/<%= s.id %>"><%= s.login %></a><br/>
	<% end %>
<% end %>

<br/>
<% if @inscription.blank? %>
	<%= form_for :partyuser, url: {action: "suscribe"} do |f| %>
		<%= f.hidden_field :user_id, :value => @user_id %>
		<%= f.hidden_field :party_id, :value => params[:id] %>
		<%= f.submit "Participer" %>
	<% end %>
<% else %>
	<%= form_for :unsuscribe, url: {action: "unsuscribe"} do |f| %>
		<%= f.hidden_field :user_id, :value => @user_id %>
		<%= f.hidden_field :party_id, :value => params[:id] %>
		<%= f.submit "Désinscription" %>
	<% end %>
<% end %>