<h1><%= @party.name %></h1>

<p><%= @party.description %></p>

<h2>Participants :</h2>

<% @users.each do |u| %>
	<a href="/users/<%= u.id %>"><%= u.login %></a><br/>
<% end %>

<br/>
<% if @inscription.blank? %>
	<%= form_for :partyuser, url: {action: "suscribe"} do |f| %>
		<%= f.hidden_field :user_id, :value => @user_id %>
		<%= f.hidden_field :party_id, :value => params[:id] %>
		<%= f.submit "Participer" %>
	<% end %>
<% else %>
	<%= form_for :unsuscribe, url: {action: "unsuscribe"} do |f| %>
		<%= f.hidden_field :user_id, :value => @user_id %>
		<%= f.hidden_field :party_id, :value => params[:id] %>
		<%= f.submit "Désinscription" %>
	<% end %>
<% end %>