<!-- Formulaire de connexion pour l'utilisateur -->
<div class="row">
  <div class="jumbotron col-md-6 col-md-offset-3">

    <h1>Welcome to Music Events !</h1>

    <h2>Log yourself !</h2>

    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :login %>
      <%= f.text_field :login, class: 'form-control' %>
      <br/>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <br/>
      <%= f.submit "Log in", class: "btn btn-success" %>
    <% end %>
    <br/>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>