<% @page_title = "Sign In" -%>
<div class= "signIn">
  <h1>Sign In</h1>
  <%= form_for(:session, :url => session_path) do |f| %>
    <div class="field">
      <%= f.label :login, "Username" %><br />
      <%= f.text_field :login %>
    </div>
    <div class="field">
      <%= f.label :password, "Mot de passe" %><br />
      <%= f.password_field :password %>
    </div>
    <div class="actions">
      <%= f.submit "S'identifier" %>
    </div>
  <% end %>
	<div class="message">
  Not yet on Music Event ? <a href="signup">Sign Up !</a>
  </div>
</div>
