<div class="row">
	<div class="jumbotron col-md-12">

		<!-- Affichage des informations concernant un utilisateur -->
		<h1>Profile of <span style="color:#337ab7"><%= @user.login %></span></h1>
		<p> Email : <%= @user.email %></p>

		<!-- Affichage des soirées qu'il a créées -->
		<h2>Events created by <%= @user.login %></h2>
		<br/>

		<% if @created_parties.blank? %>
			This user hasn't created any event yet !
		<% else %>
			<% @created_parties.each_with_index do |p, index| %>
				<div class="col-lg-6">
					<h4><a class="alert alert-success" href="/parties/<%= p.id %>"><%= p.name %></a></h4><br/>
					Host :
					<% if p.user_id == @user_id %>
						<%= User.find(p.user_id).login %>
					<% else %>
						<a href="/users/<%= p.user_id %>"><%= User.find(p.user_id).login %></a>
					<% end %><br/>
					Date : <%= p.date %> at <%= p.begin_hour %><br/>
					Adress : <%= p.adress %><br/>
					Price : <%= p.price %> €<br/>
					<% if p.description.present? %>
						Description : <i><%= p.description %></i><br/>
					<% end %>
					Number of subscribers : <%= @subscribers[index] %><br/>
				</div>
			<% end %>
		<% end %>
	</div>
</div>