<!DOCTYPE html>
<html>
<head>
  <title>MusicEvent</title>
  <%= stylesheet_link_tag "main", "bootstrap" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <!-- Verification connecté/deconnecté et affichage en fonction -->
  <% if current_user.present?  # Si utilisateur non connecté %>
    <div class="container">
      <div class="row">
        <div class="jumbotron col-md-12">
          <div style="float:left">
            <%= link_to "Home", {:controller=>"parties", :action=>"index"}, :method => :get, class: "btn btn-info" %>
            <%= link_to "All the parties", "/parties/all", class: "btn btn-info"  %>
            <%= link_to "Create a new party", new_party_path, class: "btn btn-success"  %>
          </div>
          <div style="float:right;">
            <%= link_to current_user.login, {:controller=>"users", :action=>"show", :id=>current_user.id}, :method => :get, class: "btn btn-info" %>
            <%= link_to "Edit", {:controller=>"users", :action=>"edit", :id=>current_user.id}, :method => :get, class: "btn btn-info" %>
            <%= link_to "Sign out", {:controller=>"sessions", :action=>"destroy"}, :method => :delete, class: "btn btn-danger"  %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <!-- Affichage des vues partielles -->
  <div class="container">
    <!-- design pour les message "flash", souvent retour de formulaires -->
    <% if flash.present? %>
      <div class="alert alert-warning">
      <% flash.each do |message_type, message| %>
        <%= message %>
      <% end %>
    </div>
    <% end %>

    <%= yield %>
  </div>
  <!-- Affichage de l'environnement de débug, à suppr avant prod -->
  <!-- <%= debug(params) if Rails.env.development? %> -->

</body>
</html>